<!doctype html>
<html lang="ja">
<head>
<meta charset="UTF-8">
<title>ここにタイトル</title>
<link href="css/reset.css" rel="stylesheet" type="text/css">
<link href="css/css.css" rel="stylesheet" type="text/css">
</head>

<body>
<header>
    <h1>吉田ジム</h1>
</header>
<div id="branding">
  <p>Simple Design.</p>
</div>
<nav>
  <ul>
    <li><a href="/about">吉田ジムとは</a></li>
    <li><a href="/posts/index">お悩み投稿</a></li>
    <li><a href="#">ワークアウトメニュー</a></li>
    <li><a href="#">ログイン</a></li>
  </ul>
</nav>
<section>
<article>
  <span class="date"></span>
  <h2></h2>
  <p>
   
  </p>
  <a href="#" class="btn"></a>
</article>
</section>
<footer>
<address>Copyright(C)2018.10.29 吉田GYM,Allright Reserved.</address>
</footer>
</body>
</html>
